@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #007304;
  --primaryColorLight: #00a305;
  --primaryColorLightMax: #b6ffb8;
  --secondaryColor: #bababa;
  --secondaryColorLight: #e1e1e1;
  --font-lato: var(--font-lato);
  --font-montserrat: var(--font-montserrat);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

button {
  transition: 0.2s ease-in-out;
}
