@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primaryColor: #007304;
  --primaryColorLight: #00a305;
  --primaryColorLightMax: #b6ffb8;
  --secondaryColor: #95cc7f;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-800: #1f2937;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--gray-50);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

main {
  background: var(--gray-50);
}

button {
  transition: 0.2s ease-in-out;
}
